@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root{
    --prim: #ad46ff;
    --prim-light: #ca8dfc;
    --second: #7A6EFF;
    --dark-color: #1c1d20;
    --text: #222E48;
    /** --body: #171718;*/
    --gray-color: #3B3B3C;
    --gary-light: #262629;
    --white: #fff;
    --black: #000;


    --font-kanit: "Kanit", sans-serif;
    --font-merriweather: "Merriweather", serif;
    --font-syne: "Syne", sans-serif;


    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
}

.kanit{
    font-family: var(--font-kanit);
}

.merriweather{
    font-family: var(--font-merriweather);
}

.syne{
    font-family: var(--font-syne);
}

body{
    overflow-x: hidden !important;
    font-family:  var(--font-kanit);
}

*{
    scroll-behavior: smooth;
}

.navbar{
    z-index: 999;
}

.hero-header{
    width: 100%;
    height: 100vh;
    background: url(../public/Images/Hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content h1 span{
    padding-left: 15%;
    position: relative;
}

.hero-content h1 span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    width: 80px;
    height: 3px;
    background: var(--black);
}

.clutchImg {
    position: absolute;
    top: -12%;
    left: -8%;
    box-shadow: 0 0 10px rgba(131, 131, 131, 0.3);
    background-color: var(--white);
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.clutchImg:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid rgba(131, 131, 131, 0.2);
    z-index: -1;
}

.arrowImg{
    position: absolute;
    top: 27%;
    left:-15%;
}

.hero-info-wrap {
    position: absolute;
    top: 50%;
    left: -15%;
}



/* Hero MQ Section */

@media (max-width: 991px) {
    .hero-header{
        width: 100%;
        height: 100%;
        padding-top:8%;
    }
    .clutchImg{
        left: 70%;
    }
    .arrowImg{
        left: 90%;
    }
    .hero-info-wrap{
        left: 80%;
    }
}

@media (max-width: 600px){
    .clutchImg{
        width: 100px;
        height: 100px;
    }

    .clutchImg:after{
        width: 150px;
        height: 150px;
    }
    .arrowImg{
        transform: rotate(160deg);
    }
}


/* Brands Css */
.brands-wrap {
    position: relative;
    overflow: hidden;
}

.brands-wrap:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 10;
    pointer-events: none;
}

.brands-wrap:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 10;
    pointer-events: none;
}